<h3>
  {{#link-to 'github'}}
    GitHub
  {{/link-to}}
</h3>
{{#if session.isGithubAuthenticated}}
  <div>
    <img src='{{session.githubUser.avatarUrl}}' />
  </div>
  <div>
    <button {{action 'invalidateGithub'}}>Logout</button>
  </div>
{{else}}
  <div>
    <button {{action 'authenticateGithub'}}>Login</button>
  </div>
{{/if}}

{{outlet}}
